<ion-header>
  <ion-toolbar>
    <ion-title>{{pageInfo}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{pageInfo}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <form class="home">
    <ion-item *ngIf="!isloginView" >
      <ion-label position="floating">Nombre:</ion-label>
      <ion-input [(ngModel)]="userInfo.displayName" [ngModelOptions]="{standalone: true}" type="text" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Correo Electronico</ion-label>
      <ion-input  [(ngModel)]="userInfo.email" [ngModelOptions]="{standalone: true}" type="email" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input  [(ngModel)]="userInfo.password" [ngModelOptions]="{standalone: true}" type="password" required></ion-input>
    </ion-item>
    <ion-item *ngIf="!isloginView" >
      <ion-label position="floating">Confirmar Contraseña:</ion-label>
      <ion-input [(ngModel)]="userInfo.confirmPassword" [ngModelOptions]="{standalone: true}" type="password" required></ion-input>
    </ion-item>
    <div *ngIf="isloginView" class="ion-padding">
      <ion-button expand="block" type="submit" class="ion-no-margin" (click)="login()">{{pageInfo}}</ion-button>
      <ion-button expand="full" fill="outline" type="submit" class="ion-no-margin" (click)="registerView()">¿No tienes cuenta?</ion-button>
    </div>
    <div *ngIf="!isloginView" class="ion-padding">
      <ion-button expand="block" type="submit" class="ion-no-margin" (click)="register()">{{pageInfo}}</ion-button>
      <ion-button expand="full" fill="outline" type="submit" class="ion-no-margin" (click)="loginView()" >¿Ya estas registrado?</ion-button>
    </div>
  </form>
</ion-content>