<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="statics">
      <ion-icon name="reader"></ion-icon>
      <ion-label>Tus Publicaciones</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="main">
      <ion-icon name="home"></ion-icon>
      <ion-label>Publicaciones</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="account">
      <ion-icon name="person"></ion-icon>
      <ion-label>Cuenta</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
