<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Publicaciones
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Publicaciones</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-card *ngFor="let publicacion of publications" button (click)="sendInfo(publicacion.title,publicacion.body,publicacion.image)">
    <ng-container *ngIf="publicacion.uid != uid">
      <ion-card-header>
        <ion-card-title>{{publicacion.title}}</ion-card-title>
        <ion-card-subtitle>
          <img [src]="publicacion.image" alt="No hemos encontrado la imagen">
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        {{publicacion.body}}
      </ion-card-content>
    </ng-container>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button routerLink="/publication">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>