<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{title}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button expand="full" size="large" (click)="addParticipants()" color="success" routerLink="/user/main">
    Me interesa
  </ion-button>

  <ion-img [src]="image" class="img"></ion-img>

  <div class="text">
    <ion-item>
      <p>{{body}}</p>
    </ion-item>

  </div>
  
  


</ion-content>