<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tus Publicaciones
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tus Publicaciones</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card button *ngFor="let publicacion of publications"
    (click)="getPublication(publicacion.ref.substr(publicacion.uid.length + 1))">
    <ion-card-header>
      <ion-card-title>{{publicacion.title}}</ion-card-title>
      <ion-card-subtitle>
        <img [src]="publicacion.image" alt="No hemos encontrado la imagen">
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      {{publicacion.body}}
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="publications.length == 0">
    <ion-card-header>
      <ion-card-title>No hemos encontrado ninguna publicacion</ion-card-title>
      <ion-card-subtitle>
        No has hecho tu primera publicacion
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Cualquier publicacion que hagas se mostrara aca
    </ion-card-content>
  </ion-card>
</ion-content>