<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Cuenta
    </ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Cuenta</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    <ion-item *ngFor="let userElement of userElements" button (click)="editInfo(userElement.type, userElement.name, userElement.text)" detail>
      <ion-icon [name]="userElement.icon" slot="start"></ion-icon>
      <ion-label>
        <h2>{{userElement.text}}</h2>
        <p *ngIf="userElement.name != 'age'">{{userElement.value}}</p>
        <ion-datetime *ngIf="userElement.name == 'age'" displayFormat="MMM DD YYYY" [value]="userElement.value" disabled="true"></ion-datetime>
      </ion-label>
    </ion-item>
  </ion-list>
  <br>
  <br>
  <br>
  <br>
  <br>
</ion-content>

<ion-footer>
  <ion-item button color="danger" (click)="logout()">
    <ion-icon name="power" slot="end"></ion-icon>
    <ion-label>
      <h2>Sesion</h2>
      <p>Cerrar Sesion</p>
    </ion-label>
  </ion-item>
</ion-footer>