<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Publicar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Publicar</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-item>
    <ion-label position="floating">Titulo de la petición</ion-label>
    <ion-input [(ngModel)]="post.title" [ngModelOptions]="{standalone: true}"></ion-input>
  </ion-item>
  <ion-item >
    <ion-label position="floating">Descripción</ion-label>
    <ion-textarea auto-grow="true" [(ngModel)]="post.body" [ngModelOptions]="{standalone: true}"></ion-textarea>
  </ion-item>
  <ion-item style="margin-top:10%;margin-bottom: 10%;">
    <ion-label type="primary" position="stacked">Imagen de la publicación:</ion-label>
    <ion-input type="file" (change)="uploadFile($event)" > </ion-input>
  </ion-item>
  <ion-button shape="round" expand="block" fill="solid" style="margin-top: 10%;" (click)="upload()" routerLink="/user">Publicar</ion-button>
</ion-content>
