<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Proponentes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Proponentes</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list *ngIf="userList.length; else elseblock">
    <ion-card *ngFor="let usuario of userList" button (click)="presentAlertConfirm(usuario.displayName, usuario.email)">
      <ion-card-header>
        <ion-card-title>{{usuario.displayName}}</ion-card-title>
        <ion-card-subtitle>
          <h2>{{usuario.phoneNumber}}</h2>
          <p>{{usuario.email}}</p>
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        {{usuario.firestore.info}}
      </ion-card-content>
    </ion-card>
  </ion-list>
  <ng-template #elseblock>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Nadie se ha presentado</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Dale un poco mas de tiempo, espera
      </ion-card-content>
    </ion-card>
  </ng-template>

</ion-content>