<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Ajustes de {{settings.content}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Ajustes de {{settings.content}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item>
      <ion-label>
        <h2>{{settings.content}}</h2>
        <p *ngIf="settings.name == 'name'">{{userAuth.displayName}}</p>
        <p *ngIf="settings.name == 'email'">{{userAuth.email}}</p>
        <p *ngIf="settings.name == 'password'">Cambiar Contraseña</p>
        <p *ngIf="settings.name == 'phone'">{{userAuth.phoneNumber}}</p>
        <p *ngIf="settings.name == 'id'">{{userDatabse.id}}</p>
        <ion-datetime *ngIf="settings.name == 'age'" displayFormat="MMM DD YYYY" [value]="userDatabse.age" disabled="true"></ion-datetime>
        <p *ngIf="settings.name == 'childsNumber'">{{userDatabse.childsNumber}}</p>
        <p *ngIf="settings.name == 'civilState'">{{userDatabse.civilState}}</p>
        <p *ngIf="settings.name == 'info'">{{userDatabse.info}}</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label position="floating">{{settings.content}}</ion-label>
      <ion-input *ngIf="settings.name == 'name'" type="text" [(ngModel)]="userNewValue" [ngModelOptions]="{standalone: true}"></ion-input>
      <ion-input *ngIf="settings.name == 'email'" type="email" [(ngModel)]="userNewValue" [ngModelOptions]="{standalone: true}"></ion-input>
      <ion-input *ngIf="settings.name == 'password'" type="password" [(ngModel)]="userNewValue" [ngModelOptions]="{standalone: true}"></ion-input>
      <ion-input *ngIf="settings.name == 'phone'" type="tel" [(ngModel)]="userNewValue" [ngModelOptions]="{standalone: true}"></ion-input>
      <ion-datetime *ngIf="settings.name == 'age'" displayFormat="MMM DD YYYY" [(ngModel)]="userNewValue" [ngModelOptions]="{standalone: true}"></ion-datetime>
      <ion-input *ngIf="settings.name == 'childsNumber'" type="number" [(ngModel)]="userNewValue" [ngModelOptions]="{standalone: true}"></ion-input>
      <ion-select *ngIf="settings.name == 'civilState'" interface="action-sheet" [(ngModel)]="userNewValue" [ngModelOptions]="{standalone: true}">
        <ion-select-option value="Casado">Casado</ion-select-option>
        <ion-select-option value="Soltero">Soltero</ion-select-option>
        <ion-select-option value="Divorciado">Divorciado</ion-select-option>
        <ion-select-option value="Viudo">Viudo</ion-select-option>
      </ion-select>
      <ion-textarea *ngIf="settings.name == 'info'" autoGrow="true" [(ngModel)]="userNewValue" [ngModelOptions]="{standalone: true}"></ion-textarea>
      <ion-input *ngIf="settings.name == 'id'" type="number" [(ngModel)]="userNewValue" [ngModelOptions]="{standalone: true}"></ion-input>
    </ion-item>
    <ion-item *ngIf="settings.name == 'password'">
        <ion-label position="floating">Confirmar Contraseña</ion-label>
        <ion-input *ngIf="settings.name == 'password'" type="text" [(ngModel)]="userNewValueConfirm" [ngModelOptions]="{standalone: true}"></ion-input>
    </ion-item>
  </ion-list>

</ion-content>

<ion-footer>
  <ion-button *ngIf="settings.type == 'auth'; else elseBlock" expand="block" color="success" (click)="updateFirebase()">Aceptar</ion-button>
  <ng-template #elseBlock>
    <ion-button expand="block" color="success" (click)="updateBackend()">Aceptar</ion-button>
  </ng-template>
</ion-footer>